DATABASE_URL=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

NEXT_PUBLIC_APP_URL=""

BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""


https://dashboard.getstream.io/app/1393039/video/overview
NEXT_PUBLIC_STREAM_VIDEO_API_KEY
STREAM_VIDEO_SECRET_KEY